<div class="sidebar-nav">
  <ul>
    <li><a href="#" data-target=".dashboard-menu" class="nav-header" data-toggle="collapse"><i class="fa fa-fw fa-dashboard"></i> 商品<i class="fa fa-collapse"></i></a></li>
    <li>
    	<ul class="dashboard-menu nav nav-list collapse in">
        <li><%= link_to seller_products_path do %>
					<span class="fa fa-caret-right"></span>商品管理
        <% end %>            	
        </li>
        <li><%= link_to seller_product_categories_path do %>
					<span class="fa fa-caret-right"></span>商品分類
        <% end %>            	
        </li>            
    	</ul>
    </li>
    <li>
    	<%= link_to seller_settings_path, :class => "nav-header" do %>
			<i class="fa fa-fw fa-cog"></i>設定
      <% end %>
    </li>
  </ul>
</div>