<div class="col-md-3">
	<ul class="active">
	<li><%= link_to '商品管理', seller_products_path %></li>
	<li><%= link_to '訂單管理', seller_products_path %></li>
	<li><%= link_to '商品管理', seller_products_path %></li>
	</ul>
</div>