<div class="col-md-2">
	<ul class="active">
	<li><%= link_to '商品管理', seller_products_path %></li>
	<li><%= link_to '商品分類', seller_product_categories_path %></li>
	<li><%= link_to '設定', seller_settings_path %></li>
	</ul>
</div>